.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
  margin: auto;
  row-gap: 20px;
  column-gap: 17px;
}

.templates__card {
  width: calc((100% - 40px) / 3);
  height: 361px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px 10px 10px 10px;
  color: black;
  font-weight: 900;
  line-height: 29px;
  text-align: center;
  position: relative;
}
.templates-card__image {
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.templates__card_remove-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.templates__card__description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.templates__card__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.templates__card-button {
  background-image: url("/images/Vector.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21px;
  height: 19px;
  border: none;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
}

.templates__card_remove-button:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.templates__card-button:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.templates__card-button-active {
  opacity: 1;
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart-filled.svg)
    center no-repeat;
}

.templates-popup__close-button {
  position: fixed;
  bottom: 84%;
  left: 65%;
  color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.templates-card__close-image {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.templates-card__close-image:hover {
  opacity: 0.3;
}

.view__image {
  display: none;
}

.view__container-image {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-around;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background: white;
  z-index: 10;
  align-items: center;
}

.view__close-button {
  position: absolute;
  bottom: 133%;
  left: 101%;
  color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.view__close-image {
  width: 100%;
  height: 100%;
}

.view__fade {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.view__view-image {
  position: absolute;
  width: 433px;
  height: 540px;
}

.view__image-title {
  position: absolute;
  top: 443px;
  left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 880px;
    margin: auto;
    row-gap: 20px;
    column-gap: 17px;
  }

  .templates__card {
    width: 282px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 10px 10px;
    color: black;
    font-weight: 900;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
  }

  .template__container-image {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-around;
    width: 240px;
    height: 299px;
    border-radius: 10px;
    background: white;
    z-index: 10;
    align-items: center;
  }

  .view__fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
  }

  .view__view-image {
    position: absolute;
    width: 240px;
    height: 299px;
  }

  .view__image-title {
    position: absolute;
    top: 310px;
    left: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #ffffff;
  }

  .view__button {
    position: absolute;
    bottom: 100%;
    left: 101%;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
