<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bruno" />
    <meta name="description" content="Nova rede social da Tripleten" />
    <meta name="keywords" content="Around The U.S." />

    <title>Around The U.S.</title>
    <link rel="stylesheet" href="./pages/index.css" />
    <link rel="stylesheet" href="favicon.ico" />
  </head>
  <body class="body">
    <div class="page">
      <header class="header">
        <img
          src="<%= require('./images/header_title.jpg')%>"
          alt="header title image"
          class="header__image"
        />
        <div class="header__line"></div>
      </header>
      <main class="content">
        <section class="profile">
          <div class="profile__container">
            <div class="profile__avatar">
              <img
                src="<%=require('./images/profile_image.jpeg')%>"
                alt="profile image"
                class="profile__avatar-image"
              />
            </div>

            <div class="profile__info">
              <h2 class="profile__info-name" id="profile__info_name">
                Jacques Cousteau
              </h2>
              <h3 class="profile__info-content" id="profile__info_content">
                Explorador
              </h3>
            </div>
            <button class="profile__info-edit-button">
              <img
                src="<%=require('./images/edit_name.jpg')%>"
                alt="pencil image"
                class="profile__info-edit-button-image"
              />
            </button>

            <button class="profile__add-button">
              <img
                src="<%=require('./images/add__button_icon.jpg')%>"
                alt="add icon"
                class="profile__add-button-icon"
              />
            </button>
          </div>
        </section>
        <section class="templates">
          <template class="templates__cards-container">
            <div class="templates__card">
              <img alt="card images" class="templates-card__image" />
              <button class="templates__card_remove-button">
                <img
                  src="<%=require('./images/trash.png')%>"
                  alt="trash bucket image"
                />
              </button>
              <div class="templates__card__description-container">
                <h2 class="templates__card__description"></h2>
                <button class="templates__card-button"></button>
              </div>
            </div>
          </template>
        </section>
      </main>
      <footer class="footer">© 2024 Around The U.S.</footer>
      <div class="popup">
        <div class="popup__container">
          <span class="popup__close-button"
            ><img
              src="<%=require('./images/Close_Icon.png')%>"
              class="popup__close-image"
              alt="close image"
          /></span>
          <h2 class="popup__title">Editar perfil</h2>
          <form class="popup__form">
            <input
              type="text"
              name="name"
              placeholder="Nome"
              class="popup__form-input"
              id="popup__name-insert"
              minlength="2"
              maxlength="40"
              required
            />
            <span class="popup__name-insert-error"></span>

            <input
              type="text"
              name="about"
              placeholder="Sobre mim"
              class="popup__form-input"
              id="popup__aboutMe-insert"
              minlength="2"
              maxlength="200"
              required
            />
            <span class="popup__aboutMe-insert-error"></span>

            <button
              type="submit"
              id="submit-button"
              class="popup__submit-button"
            >
              Salvar
            </button>
          </form>
        </div>
        <div class="popup__image">
          <div class="popup__image__fade"></div>
          <div class="popup__image__container">
            <img src="#" alt="#" class="popup__image_zoom" />

            <span class="popup__close-button popup__image__close-button"
              ><img
                src="<%= require('./images/Close_Icon.png')%>"
                class="popup popup__image__close-image"
                alt="close image"
            /></span>

            <span class="popup__image__title"></span>
          </div>
        </div>
      </div>
      <div class="popup add-popup">
        <div class="popup add-popup__container">
          <span class="popup__close-button add-popup__close-button"
            ><img
              src="<%=require('./images/Close_Icon.png')%>"
              class="popup__close-image add-popup__close-image"
              alt="close image"
          /></span>
          <h2 class="popup__title add-popup__title">Novo local</h2>
          <form class="popup__form add-popup__form" novalidate>
            <input
              type="text"
              name="title"
              placeholder="Título"
              class="popup__form-input add-popup__form-input"
              id="popup__card-title-insert"
              minlength="2"
              maxlength="30"
              required
            />
            <span class="popup__card-title-insert-error"></span>
            <input
              type="url"
              name="image"
              placeholder="Link da imagem"
              class="popup__form-input add-popup__form-input"
              id="popup__link-insert"
              required
            />
            <span class="popup__link-insert-error"></span>
            <button type="submit" class="popup__submit-button">Criar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
